<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="form-group">
            <label for="myDropdown">Select Users:</label>
            <select class="form-control" [(ngModel)]="selectedUser">
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.email }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="form-group">
            <label for="from">From:</label>
            <input
              class="form-control"
              type="date"
              id="from"
              name="from"
              [(ngModel)]="selectedDateFrom"
            />
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="form-group">
            <label for="from">To:</label>
            <input
              class="form-control"
              type="date"
              id="to"
              name="to"
              [(ngModel)]="selectedDateTo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="form-group">
          <label for="myDropdown">Select outlet:</label>
          <select
            class="form-control"
            [(ngModel)]="selectedOutlet"
            (change)="handleChange()"
          >
            <option *ngFor="let outlet of outlets" [value]="outlet.id">
              {{ outlet.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="form-group">
          <label for="myDropdown">Select Location:</label>
          <select
            class="form-control"
            [(ngModel)]="selectedLocation"
            (change)="handleLocationChange()"
          >
            <option
              *ngFor="let outletLocation of outletLocations"
              [value]="outletLocation.id"
            >
              {{ outletLocation.city }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="form-group">
          <button
            style="
              margin-left: 10px;
              margin-right: 10px;
              background-color: orange;
            "
            class="btn btn-warning mt-4"
            (click)="filterData()"
          >
            Filter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<mat-accordion>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title> Availability </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartAvailability"
            width="700"
            height="250"
            #myChartAvailability
          ></canvas>
        </div>
      </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <br />

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Primary Visibility </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartPrimaryVisibility"
            width="700"
            height="250"
            #myChartPrimaryVisibility
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <br />

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Planogram </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartPlanogram"
            width="700"
            height="250"
            #myChartPlanogram
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <br />

    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Cooler Purity </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartCoolerPurity"
            width="700"
            height="250"
            #myChartCoolerPurity
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel
      [expanded]="step === 4"
      (opened)="setStep(4)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Display unit in good quality </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartDisplayQuality"
            width="700"
            height="250"
            #myChartDisplayQuality
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel
      [expanded]="step === 5"
      (opened)="setStep(5)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Couter Availability </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartCounterAvailability"
            width="700"
            height="250"
            #myChartCounterAvailability
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel
      [expanded]="step === 6"
      (opened)="setStep(6)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Wall Branding </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartWallBranding"
            width="700"
            height="250"
            #myChartWallBranding
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel
      [expanded]="step === 7"
      (opened)="setStep(7)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Competitor Intelligence </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartCompetitorIntelligence"
            width="700"
            height="250"
            #myChartCompetitorIntelligence
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <br />

    <mat-expansion-panel
      [expanded]="step === 8"
      (opened)="setStep(8)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Other Details </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartOtherDetails"
            width="700"
            height="250"
            #myChartOtherDetails
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <br />

    <mat-expansion-panel
      [expanded]="step === 9"
      (opened)="setStep(9)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Primary Shelf share </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <div style="width: 100%">
          <canvas
            id="myChartPrimaryShelfShare"
            width="700"
            height="250"
            #myChartPrimaryShelfShare
          ></canvas>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel
      [expanded]="step === 10"
      (opened)="setStep(10)"
      hideToggle
      class="custom-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Primary Shelf share </mat-panel-title>
        <i class="ni ni-circle-08"></i>
      </mat-expansion-panel-header>
      <div class="container">
        <!-- my-component.component.html -->
        <google-map [center]="center" [zoom]="zoom">
          <map-marker
            *ngFor="let marker of markers"
            [position]="marker"
            [label]="marker.label"
            [options]="{ draggable: marker.draggable }"
          >
          </map-marker>
        </google-map>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <br />
  </mat-accordion>
</mat-accordion>
